# Task 6.1

In [3]:
# Setting up the environment
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [4]:
#Create a path
path = r'C:\Users\manny\Documents\Circulatory Death Analysis'

In [5]:
#Import data set

df_deaths=pd.read_csv(r'C:\Users\manny\Documents\Circulatory Death Analysis\02 Data\Original Data\deaths.csv',index_col=False)

In [6]:
df_deaths.shape

(9489, 7)

In [7]:
df_deaths.head()

,State,Race,Ten-Year Age Groups,Year,Gender,Deaths,Population
0,Alabama,Asian or Pacific Islander,55-64 years,2017,Male,10,3373
1,Alabama,Asian or Pacific Islander,65-74 years,2017,Male,10,1711
2,Alabama,Asian or Pacific Islander,65-74 years,2020,Female,13,3339
3,Alabama,Asian or Pacific Islander,75-84 years,2016,Female,11,992
4,Alabama,Asian or Pacific Islander,75-84 years,2017,Female,10,1041

In [8]:
# Find missing values
df_deaths.isnull().sum()

State                  0
Race                   0
Ten-Year Age Groups    0
Year                   0
Gender                 0
Deaths                 0
Population             0
dtype: int64

#### No missing values.

In [10]:
# Finding duplicates

df_dups=df_deaths[df_deaths.duplicated()]

In [11]:
df_dups

Empty DataFrame
Columns: [State, Race, Ten-Year Age Groups, Year, Gender, Deaths, Population]
Index: []

#### No duplicates found.

In [20]:
# Checking for mixed type data

for col in df_deaths.columns.tolist():
  weird = (df_deaths[[col]].applymap(type) != df_deaths[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_deaths[weird]) > 0:
    print (col)

#### No mixed data type.